# Firebase Configuration (Pode ser obtido no Firebase Console)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB-hEtbHq0hbTm71wspPmD3G6USkBZNJhg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pdfix-48b9e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pdfix-48b9e
NEXT_PUBLIC_FIREBASE_APP_ID=1:614776876351:web:4e7c927d9d9cb71fd7b78a


# API Configuration (URL do backend)
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Node Environment
NODE_ENV=development
PORT=3000
